{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {},
        "transform-runtime": {},
        "styled-jsx": {},
        "class-properties": {}
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "transpileTemplateLiterals": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
